.button {
    display: inline-block;
    padding: 0.576923em 1.576923em 0.653846em;
    background-color: #1CBFA2;
    box-shadow: 0px 4px 15px rgba(9, 99, 83, 0.35);
    border-radius: 16px;

    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;

    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}

@media (min-width: 992px) {
    .button {
        font-size: 26px;
    }
}

.button:hover{
    box-shadow: 0px 4px 25px rgba(19, 172, 144, 0.671);
    background-color: #1CBFA2;
}

.button-outline {
    display: inline-block;
    padding: 13px 30px;
    background: #FFFFFF;
    border: 1px solid #1CBFA2;
    border-radius: 16px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #777777;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.button-outline:hover{
    background-color: #1CBFA2;
    color: #FFFFFF;
}